.cards {
  padding: 80px 0 40px;
  background: #f1f1f1;
}
.cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards__card {
  width: calc(33.55555% - 20px);
}