.youTube{
  background: #FFFFFF;
  padding-top:50px ;
  &__title{
    text-align: center;
    @include text(700, 26px , 150%, #EE82EE);
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__video{
    margin: 0 auto;
  }

}
